.header {
  margin-top: 30px;
}

.large-title {
  font-size: 50px; /* Font size of the large title */
  font-weight: 'bold';
  margin: 0; /* Remove margin to ensure the title is properly centered */
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.container {
  max-width: 800px; /* Set max-width for content container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0px; /* Add padding to the container */
  padding-top: 50px;
}

.create-game-button {
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add border radius to the button */
  cursor: pointer; /* Change cursor to pointer on hover */
  margin-right: 10px; /* Add margin between buttons */
}
