name: CI Testing

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
      - run: npm ci
      # - run: npm run lint
      - run: npm run prettier
      - run: npm run -w react-frontend build -verbose
